.block-icon {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  & > svg {
    margin-right: 5px;
  }
  //   &:hover {
  //     background-color: attr(hvColor);
  //     color: var(--white) !important;
  //   }
}
